body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#title {
    padding: 5px;
}

p {
    padding-left: 5px;
}

/********Navigation Section**********/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
    
}

ul.topnav li .active {
    background-color: #4CAF50;
    
}

ul.topnav li.right {
    float: right;
    
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


/*********Dropdown**********/

.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: inherit;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}

/*************end dropdown**************/

#banner {
    background-repeat: repeat;
    background-size: cover;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




















