body {
  background-color: #A3BAC3;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  font-size: 3.5em;
  font-family: fantasy;
}


#quoteDisplay {
  position: absolute;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 2em;
  font-family: cursive;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


button {
  height:30px;
  position:relative;
  background-color: #DD6E42;
  color: white;
  margin: -20px -50px;
  width:100px;
  top:50%;
  left: 50%;
  margin-top: 400px;
  border-radius: 10%;
}


footer {
  text-align: center;
  margin-top: 100px;
  padding: 25px;
  color: white;
  background-color: #424B54;
  font-family: fantasy;
}
